[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
whitenoise = "*"
psycopg2 = "*"
gunicorn = "*"

[packages]
django = "*"
django-widget-tweaks = "*"
requests = "*"
python-dotenv = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"
