{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="card border-0 mx-auto col-xl-10">
  <div class="card-body">
    <form class="row g-3 align-items-center" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if fields.errors %}
        {% render_field field class="form-control form-control-lg is-invalid" %}
        {% for err in field.errors %}
        <div class="invalid-feedback">
        {{ err }}
        </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control form-control-lg" %}
      {% endif %}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Apply"/>
    <a class="btn btn-secondary link-white" href="{% url 'dashboard' %}">Cancel</a>
    </div>
    </form>
  </div>
</div>
{% endblock content %}
